@page { 
  size: auto;
  margin: 1in; 
}
h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}
h1 {
  margin-top: 0;
}
h2 {
    margin-top: 18px;
    margin-bottom: 12px;
}
li {
  margin-bottom: 8px;
}
.wrapper {
  padding: 0;
}
.print-button {
  display: none;
}
