* {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 800;
  border-bottom: 3px solid #000;
}

h3 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 700;
}

h2 + h3 {
  margin-top: 10px;
}

p,
li {
  margin-bottom: 10px;
  text-align: justify;
}

a,
a:visited,
a:hover,
a:active {
  color: #006fbf;
}

.wrapper {
  width: 1063px;
  max-width: 100%;
  margin: 0px auto;
  padding: 2vh 0;
}

.sub-title {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 30px;
}

button.print-button {
  width: 100px;
  height: 100px;
  position: fixed;
  right: 5%;
  top: 2vh;
  padding: 0;
  border: 0;

  border: none;
  background: transparent;
}

button.print-button:active {
  outline: 0;
  border: 0;
}

span.print-icon,
span.print-icon::before,
span.print-icon::after,
button.print-button:hover .print-icon::after {
  border: solid 4px #333;
}

span.print-icon::after {
  border-width: 2px;
}

span.print-icon,
span.print-icon::before,
span.print-icon::after,
button.print-button:hover .print-icon::after {
  box-sizing: border-box;
  background-color: #fff;
}

span.print-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-top: 20%;

  width: 60%;
  height: 35%;
  background: #fff;
  border-radius: 20% 20% 0 0;
}

span.print-icon::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 12%;
  right: 12%;
  height: 110%;

  transition: height .2s .15s;
}

span.print-icon::after {
  content: " ";
  position: absolute;
  top: 55%;
  left: 12%;
  right: 12%;
  height: 0%;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  background-position: center;
  background-image: linear-gradient( to top,
                    #fff 0, #fff 14%,
                    #333 14%, #333 28%,
                    #fff 28%, #fff 42%,
                    #333 42%, #333 56%,
                    #fff 56%, #fff 70%,
                    #333 70%, #333 84%,
                    #fff 84%, #fff 100%);

  transition: height .2s, border-width 0s .2s, width 0s .2s;
}

button.print-button:hover {
  cursor: pointer;
}

button.print-button:hover .print-icon::before {
  height: 0px;
  transition: height .2s;
}

button.print-button:hover .print-icon::after {
  height: 120%;
  transition: height .2s .15s, border-width 0s .16s;
}
